img{
	width: 100%;
	height: auto;
}

.grid,.grid h2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main{
	display: inline-block;
}

li{
	display: inline-block;
	padding: 20px;
}