.p{
	height: 100px;
	width: 200px;
	border:1px solid brown;
	display: inline;/*Сделать блочный элемент строчным*/

}
.span{
	height: 100px;
	width: 200px;
	border:1px solid brown;
	display: block;/*Сделать строчный элемент блочным*/
	
}
nav li{
	display: inline; /*Повернуть элементы списка в строку(li блочный делаем его строчным), inline-block - блочно строчный можно добавить размеры как в строчном*/
	list-style-type: none;
	padding: 20px 30px;
	height: 40px;
	width: 50px;
	background: yellow

}
/*
body{
	background-image: url("");
	background-repeat: ;
}
*/
/* Дома потренить свойства
background-repeat: ;
background-position: ;
background-position: ;
background-attachment: ;
background-size: ;
*/
.visibility{
	visibility: visible;/*visible - видимый*/
	visibility: hidden;/*hidden - делает элемент невидимым, место под эелемент остается*/
	display: none;/*элемент срыт и место под него не остается*/
	visibility: collapse;/*если применить к ячейкам таблицы то будет вести себя как none, во всех остальных случаях ведет себя как hidden*/
}

.static,
.fixed,
.absolute,
.reletive,
.float{
	border: 1px solid gray;
}

.static{
	position: static; /*Позиционирование элементов static - отбражает как в html, используется для очистки предидущих свойств*/

}
.fixed{
	/*Свойста*/
	position: fixed;/*фиксирование элемента (относительно видемой облати браузера), например для фиксации меню сверху*/
	/*Координаты*/
	top: 5px;/*от верхней границы (браузера)*/
	background: #4482b5;
	right: 10px; /*от правой границы (браузера)*/
	left: 10px;/*от левой границы (браузера)*/
	/*bottom: 10px;*//*от нижней границы*/
	/*при 0 top,right,left прилепится сверху */
	/*vertical-align:  посмотреть дома свойства*/
}
.absolute{
	position: absolute; /*абсолютное позиционирование элемента, выбивается из общего потока элементов*/
	top: 100px;/*от верхней границы (родителя)*/
	left: 10px; /*от правой границы (родителя)*/
	right: 10px;/*от левой границы (родителя)*/
	/*bottom: 10px;*//*от нижней границы (родителя)*/
}
.reletive{
	position: relative;/*Относительное позиционирование(относительно места расположения элемента)*/
	top: 100px;/*от верхней границы (относительно совего предыдущего места расположения)*/
	left: 50px; /*от правой границы (относительно совего предыдущего места расположения)*/
	right: 10px;/*от левой границы (относительно совего предыдущего места расположения)*/
	/*bottom: 10px;*//*от нижней границы (относительно совего предыдущего места расположения)*/
}
.float{
	float: left; /*right, none(очистка)*/
	width: 30%;
	background: #4482b5;
}
.clear{
	clear: both; /**отменяет обтекание с обоих сторон у элемента , который идет после плавающего*/ /*left, right еще есть*/
}
